.home-container {
  display: flex;
  padding: 20px;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;

  .input {
    max-width: 80vw;
  }

  .home-title {
    flex: 100%;
  }

  .exist-token {
    margin-top: 20px;
    background-color: white;
    inline-size: 100%;
    overflow-wrap: break-word;
    max-width: 80vh;
  }
}
